RewriteEngine On

RewriteRule ^index\.php$ - [L]

# Route to events app
RewriteRule ^account(/.*)?$ /events/index.php?page_name=account$1 [L,QSA]
RewriteRule ^planner(/.*)?$ /events/index.php?auth=user&page_name=planner$1 [L,QSA]
RewriteRule ^admin(/.*)?$ /events/index.php?auth=admin&page_name=admin$1 [L,QSA]
RewriteRule ^auth/revoke$ /events/lib/auth/revoke.php [L,QSA]
RewriteRule ^auth/status$ /events/lib/auth/status.php [L]
RewriteRule ^auth(/.*)?$ /events/lib/auth/default/$1.php [L,QSA]
RewriteRule ^actions(/.*)?$ /events/lib/actions/$1.php [L]
RewriteRule ^bookings/csv$ /events/lib/csv.php [L]
RewriteRule ^google/callback$ /events/lib/auth/google/callback.php [L,QSA]
RewriteRule ^spotify(/.*)?$ /events/lib/auth/spotify/$1.php [L]

# Exclude events folder
RewriteRule ^events(/.*)?$ - [L]

# Standard WordPress rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

